<template>
    <h3>{{ counterStore.count }}</h3>
    <button @click="counterStore.increment">Incrementar</button>
    <h3>{{ counterStore.count }} * 2 = {{counterStore.times2}}</h3>
</template>

<script lang="ts" setup>
import { useCounterStore } from './store/counter';

const counterStore=useCounterStore()

</script>

<style scoped>

</style>
